
<div class="container">
  <div class="row">
    <div class="col-12">
      <input type="search" class="search" #searchBox [(ngModel)]="searchTerm" (keydown.enter)="search(searchBox.value)">
    </div>
    <div class="col-8 offset-2">
      <ul>
        <!-- <li *ngFor="let recipeItem of recipes"><a href="{{recipeItem.href}}">{{recipeItem.title}}</a></li> -->
        <li *ngFor="let userItem of users | userFilter: searchTerm">
            {{userItem.first_name}} 
            <button [routerLink]="['/details', userItem.id]" class="btn">View</button>
        </li>
      </ul>
    </div>
  </div>
</div>

